In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import numpy as np

# set plots to match my jupyter notebook theme
from jupyterthemes import jtplot
jtplot.style(spines=False, fscale=1.2)
jtplot.reset()

# Data from Joachim group

In [4]:
df = pd.read_csv('./sales_data_final_final.csv', low_memory=False)
display(df.head())
display(df.shape)
df = df.sample(frac = 0.5)

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

(87480, 22)

In [5]:
profile = ProfileReport(df, title="Joachim group")
profile.to_file("sales_data_final_final.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=37.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

# Data from Emre group

In [2]:
df = pd.read_csv('./cleaned_properties (original).csv', low_memory=False)
display(df.head())
display(df.shape)
df = df.sample(frac = 0.5)

,Unnamed: 0,locality,house_is,property_subtype,price,sale,rooms_number,area,kitchen_has,furnished,...,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state,region
0,0,4180,False,MIXED_USE_BUILDING,295000.0,Unknown,3.0,242.0,1.0,0.0,...,1.0,36.0,1.0,1000.0,1403.0,1403.0,0.0,0.0,GOOD,Wallonia
1,1,8730,True,VILLA,675000.0,Unknown,4.0,349.0,1.0,0.0,...,0.0,0.0,1.0,977.0,1526.0,1526.0,0.0,0.0,AS_NEW,Flanders
2,2,4020,False,APARTMENT_BLOCK,250000.0,Unknown,5.0,303.0,1.0,0.0,...,0.0,0.0,0.0,0.0,760.0,760.0,0.0,0.0,TO_RENOVATE,Wallonia
3,3,1200,True,HOUSE,545000.0,Unknown,4.0,235.0,1.0,1.0,...,0.0,0.0,0.0,0.0,63.0,63.0,0.0,0.0,JUST_RENOVATED,Brussels
4,4,1190,False,MIXED_USE_BUILDING,500000.0,Unknown,2.0,220.0,1.0,0.0,...,0.0,0.0,1.0,60.0,193.0,193.0,0.0,0.0,AS_NEW,Brussels

(51305, 21)

In [3]:
profile = ProfileReport(df, title="Emre group")
profile.to_file("cleaned_properties (original).html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=36.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

# Christophe's file

In [5]:
df = pd.read_csv('./FINAL_clean_sales_dataset.csv', low_memory=False)
display(df.head())
display(df.shape)

,source,postcode,house_is,property_subtype,price,rooms_number,area,equipped_kitchen_has,furnished,open_fire,terrace,terrace_area,garden,garden_area,land_surface,facades_number,swimming_pool_has,region,building_state_agg
0,6,4180,True,MIXED_USE_BUILDING,295000.0,3.0,242.0,True,False,False,True,36.0,True,1000.0,1403.0,NaN,False,W,good
1,6,8730,True,VILLA,675000.0,4.0,349.0,True,False,False,False,0.0,True,977.0,1526.0,NaN,False,F,good
2,6,4020,True,APARTMENT_BLOCK,250000.0,5.0,303.0,True,False,False,False,0.0,False,0.0,760.0,NaN,False,W,to_renovate
3,6,1200,True,HOUSE,545000.0,4.0,235.0,True,True,False,False,0.0,False,0.0,63.0,NaN,False,B,renovated
4,6,1190,True,MIXED_USE_BUILDING,500000.0,2.0,220.0,True,False,False,False,0.0,True,60.0,193.0,NaN,False,B,good

(11288, 19)

In [6]:
profile = ProfileReport(df, title="Christophe group")
profile.to_file("FINAL_clean_sales_dataset.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=33.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))